@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Dark background with white text. */
body {
    background-color: black;
}

h1,
h2,
h3,
p {
    color: white;
}

/* Fonts */
h1,
h2,
h3 {
    font-family: 'Roboto Light', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}
