---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <p>[Image: human atlas (solid, should look like a brain)]</p>
    <h1>Pinpoint</h1>
    <h3>Interactive 3D visualization and automation tools for human neuroscience research and neurosurgery.</h3>
    <a href="https://data.virtualbrainlab.org/Pinpoint/">Launch</a>
    <p>Scroll to learn more...</p>

    <br/>

    <p>[Insert multiple probes with planned routes and highlighted regions]</p>
    <h2>Pinpoint aims to advance large-scale neuroscience research with intuitive browser-based planning and automation
        tools for efficient and reproducible neurosurgery.</h2>

    <br/>

    <p>[Remove probes, exploded brain view, highlight various regions on scroll]</p>
    <h2>Human behavior engage multiple regions of the brain.</h2>
    <h3>Current tools are designed to study individual brain regions, depend on manual input, and require
        extensive expertise ot operate.</h3>
    <p>Modern neuroscientists need tools that enable the study of the whole brain to better understand human behavior
        and
        cure neurodegenerative diseases that affect the whole brain like Parkinson's and Alzheimer's.</p>

    <br/>

    <!-- Planning Phase. -->

    <!-- FIXME: This says "experiments" instead of surgery... do we want that? -->
    <p>[Move brain back to the center]</p>
    <h1>Plan Your Next Experiment</h1>

    <br/>

    <p>[Scroll through various probe 3d models]</p>
    <h2>Simulate your lab</h2>
    <h3>Use Neuropixel probes, viral injectors, and 2-photon lasers</h3>

    <br/>

    <p>[Insert 1-shank neuro pixel probe, bring in channel map, show in-plane slice, do crazy rotations, show
        coordinates in the corner]</p>
    <h2>View your plan in 3D</h2>

    <br/>

    <!-- FIXME: Also says experiments -->
    <p>[Insert several more probes, rotate them out of each other's way, highlight target regions]</p>
    <h2>Plan the most complex experiments with ease.</h2>

    <br/>

    <!-- Automation Phase -->
    <!-- FIXME: This is demonstrating the end product, not what we have now. -->

    <p>[Probes fade into insertion lines]</p>
    <h1>Automate Your Experiment</h1>
    <h3>Beta</h3>

    <br/>

    <p>[Draw plan lines from probes off screen on scroll]</p>
    <h2>Automatically generate plans...</h2>

    <br/>

    <!-- FIXME: Should we have a segment demonstrating how slow this would take for individual probes? -->
    <p>[From off screen, probes move in while following the plan lines]</p>
    <h2>... and run them in parallel</h2>

</Layout>
