---
interface Props {
    graphicSrc: string;
}

const {graphicSrc} = Astro.props
---
<div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="border basis-2/5 self-stretch flex justify-center items-center">
            <p class="p-8">[{graphicSrc}]</p>
        </div>
        <div class="basis-3/5">
            <slot/>
        </div>
    </div>
</div>