---
---
<div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse w-full pt-0 pb-0">
        <!-- Graphics side. -->
        <div class="basis-1/2 self-stretch">
            <div class="large">
                <slot name="graphics"/>
            </div>
        </div>

        <!-- Content side. -->
        <div class="basis-1/2">
            <slot/>
        </div>
    </div>
</div>

<style>
    .large {
        @apply h-dvh sticky top-0 flex justify-center items-center;
    }
</style>