---
import Article from "./Article.astro";
---
<div class="hero">
    <div class="hero-content flex-col lg:flex-row-reverse w-full p-0">
        <!-- Graphics side. -->
        <div class="basis-1/2 self-stretch">
            <slot name="graphics"/>
        </div>

        <!-- Content side. -->
        <div class="basis-1/2 self-stretch">
            <div class="sticky top-1/3">
                <Article>
                    <slot/>
                </Article>
            </div>
        </div>
    </div>
</div>