---
import type { ImageMetadata } from "astro";

const introImages = import.meta.glob<{ default: ImageMetadata }>(
	"/src/assets/intro/*.avif",
);
---
<!doctype html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico"/>
    <meta name="generator" content={Astro.generator}/>
    <title>Pinpoint</title>

    <!-- Preload images. -->
    {Object.values(introImages).map((imageImport) => (imageImport().then(({default: {src}}) => (
            <link rel="preload" href={src} as="image" type="image/avif"/>
    ))))}
</head>
<body>
<slot/>
</body>
</html>
