---
---
<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- FIXME: Remove `pinpoint-site` once VBL URL is used. -->
		<link rel="icon" type="image/svg+xml" href="/pinpoint-site/favicon.ico"/>
		<meta name="generator" content={Astro.generator} />
		<title>Pinpoint</title>
	</head>
	<body>
		<slot />
	</body>
</html>
